.movies-list {
    padding: 80px 70px;
    height: 100%;
}

.movies-list__wrapper {
    display: flex;
    flex-direction: column;
}

.movies-list__items {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 32px;
}

.movies-list__btn {
    all: unset;
    margin-top: 50px;
    width: 100%;
    height: 36px;
    background-color: #2f2f2f;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    border-radius: 6px;
    cursor: pointer;
}

.movies-list__btn:hover {
    opacity: 0.8;
}

.movies-list_error {
    margin: 0 auto;
    max-width: 300px;
    color: red;
    text-align: center;
}


@media (max-width: 1023px) {
    .movies-list {

        padding: 79px 30px;
    }

    .movies-list__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 650px) {

    .movies-list__wrapper {
        align-items: center;
    }

    .movies-list {
        padding: 50px 10px 80px;
    }

    .movies-list__items {
        grid-template-columns: repeat(1, 342px);
        row-gap: 16px;
    }
}

@media (max-width: 425px) {
    .movies-list__items {
        grid-template-columns: repeat(1, 300px);

    }
}