.profile__section-profile {
    padding: 74px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__title {
    margin: 0;
    margin-bottom: 123px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
}

.profile__info {
    margin-bottom: 171px;
    width: 410px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__container-input {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.21;
    height: 15px;
    padding-bottom: 16px;
}


.profile__container-input_type_name {
    border-bottom: 1px solid #424242;
}

.profile__container-input_type_title {
    padding-bottom: 0;
    border-bottom: none;
}

.profile__input {
    all: unset;
    text-align: right;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.21;
    width: 200px;
}


.profile__input:focus {
    border: 1px solid #4285f4;
}

.profile__input-error {
    display: block;
    text-align: end;
    font-weight: 400;
    color: #ff004c;
    font-size: 10px;
    line-height: 1.21;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 12px;
    opacity: 1;
}


.profile__button {
    all: unset;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.8;
}

.profile__button_type_edit {
    margin-bottom: 16px;
}

.profile__button_type_save {
    margin-bottom: 16px;
    width: 410px;
    height: 45px;
    text-align: center;
    border-radius: 3px;
    background-color: #3456f3;
}

.profile__button_inactive {
    background-color: #f8f8f8;
    color: #c2c2c2;
    pointer-events: none;
}

.profile__button_type_logout {
    color: #ee3465;
}

.profile__error-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.21;
    height: 14px;
    margin-bottom: 20px;
    opacity: 0;
}

.profile__error-text_type_successful {
    color: #00ff2a;
    opacity: 1;
}

.profile__error-text_type_error {
    color: #ff004c;
    opacity: 1;
}

@media (max-width: 1023px) {
    .profile__section-profile {
        padding: 236px 0 269px;
    }

    .profile__title {
        margin-bottom: 96px;
    }

    .profile__info {
        margin-bottom: 159px;
    }
}

@media (max-width: 500px) {
    .profile__section-profile {
        padding: 70px 0 40px;
    }

    .profile__title {
        margin-bottom: 80px;
    }

    .profile__info {
        margin-bottom: 220px;
        width: 260px;
    }

    .profile__info {
        margin-bottom: 328px;
    }

    .profile__button {
        font-size: 12px;
    }
}