.search {
    padding: 70px 70px 0;
}

.search__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search__wrapper {
    display: flex;
    justify-content: space-between;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    padding: 10px 10px 10px 25px;
    max-width: 1140px;
    border-radius: 8px;
}

.search__input {
    all: unset;
    width: 89%;
}

.search__input:focus {
    border: 1px solid #4285f4;
}


.search__input::placeholder {
    color: #8b8b8b;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
}

.search__button {
    all: unset;
    width: 100px;
    height: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #fff;
    background-color: #4285f4;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.search__button:hover {
    opacity: 0.8;
}

.search__button_inactive {
    background-color: #f8f8f8;
    color: #000;
    pointer-events: none;
}

.search__error {

    padding: 2px 0;
    display: block;
    text-align: center;
    color: red;
    opacity: 0;
}

.search__error_active {
    opacity: 1;
}

@media (max-width: 1023px) {
    .search {
        padding: 70px 30px 0;
    }

    .search__input {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .search {
        padding: 70px 14px 0;
    }

    .search__wrapper {
        padding: 6px 6px 6px 12px;
    }

    .search__button {
        width: 80px;
        height: 44px;
    }

    .search__input::placeholder {
        font-size: 16px;
        line-height: 1;
    }
}

@media (max-width: 425px) {
    .search__input {
        width: 67%;
    }
}