.header {
    max-width: 1280px;
    padding: 18px 70px;
}

.header_landing {
    background-color: #073042;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

.navigation__burger-menu {
    display: none;
}

@media (max-width: 1023px) {
    .header {
        padding: 18px 30px;
    }
}

@media (max-width: 768px) {
    .navigation__burger-menu {
        all: unset;
        display: block;
        height: 44px;
        width: 44px;
        background-image: url(../../images/Navigation-burger.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 18px 14px;
    }

    .navigation__burger-menu {
        height: 43px;
        width: 40px;
    }
}