.authorization__label-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    color: #8b8b8b;
}

.authorization__item {
    all: unset;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #424242;
}

.authorization__item:focus {
    border-bottom: 1px solid #4285f4;
}

.authorization__item_error {
    color: #ff004c;
}

.authorization__input-error {
    align-self: flex-start;
    display: block;
    font-weight: 400;
    color: #ff004c;
    font-size: 10px;
    line-height: 1.21;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 12px;
    opacity: 0;
}

.authorization__input-error_active {
    opacity: 1;
}