.authorization__authorization-section {
    padding: 70px 0;
    margin: 0 auto;
    width: 396px;
}

.authorization__logo {
    display: block;
    margin-bottom: 40px;
}

.authorization__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.authorization__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    margin-bottom: 40px;
    align-self: start;
}

.authorization__button-wrapper {
    margin-top: 164px;
}

.authorization__button-wrapper_type_signup {
    margin-top: 95px;
}

.authorization__error-text {
    display: block;
    font-weight: 400;
    color: #ff004c;
    font-size: 11px;
    line-height: 1.21;
    height: 14px;
    text-align: center;
    opacity: 0;
}

.authorization__error-text_active {
    opacity: 1;
}

.authorization__button {
    all: unset;
    width: 396px;
    height: 45px;
    background-color: #4285f4;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}

.authorization__button:hover {
    opacity: 0.8;
}

.authorization__button_inactive {
    background-color: #f8f8f8;
    color: #000;
    pointer-events: none;
}

.authorization__text-button {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #8b8b8b;
}

.authorization__link {
    text-decoration: none;
    color: #4285f4;
    margin-left: 6px;
    cursor: pointer;
}

.authorization__link:hover {
    opacity: 0.8;
}

@media (max-width: 1023px) {
    .authorization__authorization-section {
        padding: 232px 0;
    }
}

@media (max-width: 767px) {
    .authorization__authorization-section {
        padding: 56px 30px;
        width: 260px;
    }

    .authorization__button {
        width: 260px;
        height: 45px;
        margin-bottom: 14px;
        font-size: 12px;
    }

    .authorization__button-wrapper {
        margin-top: 252px;
    }

    .authorization__button-wrapper_type_signup {
        margin-top: 182px;
    }

    .authorization__text-button {
        font-size: 12px;
    }

    .authorization__logo {
        margin: 0 auto 50px;
    }

    .authorization__title {
        align-self: center;
        margin-bottom: 80px;
    }
}